
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-leaflet==0.19.2
jupyter-server==1.24.0
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.13
numpy==1.26.4
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.28.0
pandas-stubs==2.2.2.240909
networkx==3.4.2
lxml==5.3.1
kaggle==1.6.17
kagglehub==0.3.10
nltk==3.9.1
pillow==11.1.0
scikit-learn==1.6.1
tqdm==4.67.1
scipy==1.13.1
plotly==5.24.1
jupyterlab==3.6


# D
jupyter-summarytools
dython
#calmsize
#requests
#selenium
#pygam
#istatapi
#opendatasets # kaggle
#pytensor 
#pymc
#git+https://github.com/pymc-learn/pymc-learn
#pyspark
#findspark
#ucimlrepo
#docling
#klib
#graphviz
#lazypredict
#dask[dataframe]
#pycaret
#umap-learn
#shap
#modelbit
#onnx
#micromlgen
#statsmodels
#ipywidgets
# pydotplus # deprecato
#xgboost # heavy nvidia driver
#imblearn
